@media screen and (width > 340px) {
    .stuff {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 100vh;
    }
    
    #filters-panel {
        grid-column-start: 1;
        grid-row-start: 1;
        border: 2px solid red;
    }
    
    #item-list {
        grid-column-start: 2;
        grid-row-start: 1;
        border: 2px solid red;
    }
  }
